# Demographic Analysis

In [1]:
import pandas as pd

## Load "Voter Power Index" scores

In [2]:
voter_power_index = pd.read_csv("../data/fivethirtyeight/senate-voter-power-index.csv")

In [3]:
usps_state = {
    "AZ": "ARIZONA",
    "CA": "CALIFORNIA",
    "CT": "CONNECTICUT",
    "DE": "DELAWARE",
    "FL": "FLORIDA",
    "HI": "HAWAII",
    "IN": "INDIANA",
    "MA": "MASSACHUSETTS",
    "MD": "MARYLAND",
    "ME": "MAINE",
    "MI": "MICHIGAN",
    "MN": "MINNESOTA",
    "MO": "MISSOURI",
    "MS": "MISSISSIPPI",
    "MT": "MONTANA",
    "ND": "NORTH DAKOTA",
    "NE": "NEBRASKA",
    "NJ": "NEW JERSEY",
    "NM": "NEW MEXICO",
    "NV": "NEVADA",
    "NY": "NEW YORK",
    "OH": "OHIO",
    "PA": "PENNSYLVANIA",
    "RI": "RHODE ISLAND",
    "TN": "TENNESSEE",
    "TX": "TEXAS",
    "UT": "UTAH",
    "VA": "VIRGINIA",
    "VT": "VERMONT",
    "WA": "WASHINGTON",
    "WI": "WISCONSIN",
    "WV": "WEST VIRGINIA",
    "WY": "WYOMING"
}

In [4]:
voter_power_index["state_name"] = voter_power_index["state"].apply(lambda x: usps_state[x])

In [5]:
voter_power_index.head()

  state       vpi   state_name
0    AZ  3.769032      ARIZONA
1    CA  0.000000   CALIFORNIA
2    CT  0.065269  CONNECTICUT
3    DE  0.081507     DELAWARE
4    FL  1.030212      FLORIDA

## Load state registered voter counts, by demographic

In [6]:
demo_by_state = pd.read_excel(
    "../data/census/table04b.xls",
    skiprows=4,
    skipfooter=5,
    na_values=["-"]
)

demo_by_state.columns = [
    "state", "demographic", "total_pop", "total_citizen_pop", "total_registered", 
   "pct_registered", "moe_registered", "pct_registered_citizen", 
   "moe_registered_citizen", "total_voted", "pct_voted", "moe_voted", 
   "percent_voted_citizen", "moe_voted_citizen"
]

In [7]:
demo_by_state.head()

,state,demographic,total_pop,total_citizen_pop,total_registered,pct_registered,moe_registered,pct_registered_citizen,moe_registered_citizen,total_voted,pct_voted,moe_voted,percent_voted_citizen,moe_voted_citizen
0,US,Total,245502,224059,157596.0,64.2,0.3,70.3,0.3,137537.0,56,0.3,61.4,0.3
1,NaN,Male,118488,107554,73761.0,62.3,0.4,68.6,0.4,63801.0,53.8,0.4,59.3,0.5
2,NaN,Female,127013,116505,83835.0,66,0.4,72,0.4,73735.0,58.1,0.4,63.3,0.4
3,NaN,White alone,192129,177865,127463.0,66.3,0.3,71.7,0.3,111891.0,58.2,0.3,62.9,0.4
4,NaN,White non-Hispanic alone,157395,154450,114151.0,72.5,0.3,73.9,0.3,100849.0,64.1,0.4,65.3,0.4

In [8]:
demo_by_state["state"] = demo_by_state["state"].fillna(method="ffill")

In [9]:
demo_by_state["total_registered"] = demo_by_state["total_registered"].apply(lambda x: float(str(x).replace(",", "")))

In [10]:
demo_by_state.head()

,state,demographic,total_pop,total_citizen_pop,total_registered,pct_registered,moe_registered,pct_registered_citizen,moe_registered_citizen,total_voted,pct_voted,moe_voted,percent_voted_citizen,moe_voted_citizen
0,US,Total,245502,224059,157596.0,64.2,0.3,70.3,0.3,137537.0,56,0.3,61.4,0.3
1,US,Male,118488,107554,73761.0,62.3,0.4,68.6,0.4,63801.0,53.8,0.4,59.3,0.5
2,US,Female,127013,116505,83835.0,66,0.4,72,0.4,73735.0,58.1,0.4,63.3,0.4
3,US,White alone,192129,177865,127463.0,66.3,0.3,71.7,0.3,111891.0,58.2,0.3,62.9,0.4
4,US,White non-Hispanic alone,157395,154450,114151.0,72.5,0.3,73.9,0.3,100849.0,64.1,0.4,65.3,0.4

## Join the two datasets

In [11]:
joined = pd.merge(
    demo_by_state,
    voter_power_index,
    left_on="state",
    right_on="state_name",
    how="left",
    suffixes=["", "_vpi"]
).dropna(subset=["vpi"])

In [12]:
joined.head().T

,33,34,35,36,37
state,ARIZONA,ARIZONA,ARIZONA,ARIZONA,ARIZONA
demographic,Total,Male,Female,White alone,White non-Hispanic alone
total_pop,5196,2525,2671,4471,2940
total_citizen_pop,4585,2256,2329,3950,2875
total_registered,3145,1485,1660,2773,2145
pct_registered,60.5,58.8,62.2,62,73
moe_registered,2.2,3.2,3.1,2.4,2.7
pct_registered_citizen,68.6,65.8,71.3,70.2,74.6
moe_registered_citizen,2.3,3.3,3.1,2.4,2.7
total_voted,2769,1273,1496,2480,1963
pct_voted,53.3,50.4,56,55.5,66.8
moe_voted,2.3,3.3,3.2,2.5,2.9
percent_voted_citizen,60.4,56.5,64.2,62.8,68.3
moe_voted_citizen,2.4,3.5,3.3,2.5,2.9
state_vpi,AZ,AZ,AZ,AZ,AZ
vpi,3.76903,3.76903,3.76903,3.76903,3.76903
state_name,ARIZONA,ARIZONA,ARIZONA,ARIZONA,ARIZONA

In [13]:
joined["demo_power"] =  round(joined["total_registered"] * joined["vpi"], 2)

In [14]:
joined[
    ~joined["demographic"].isin(["Total", "Male", "Female", "White alone"])
]\
    .sort_values("demo_power", ascending=False)[["state", "demographic", "total_registered", "vpi", "demo_power"]]\
    .head(20)

,state,demographic,total_registered,vpi,demo_power
481,TENNESSEE,White alone or in combination,2679.0,4.700521,12592.70
492,TEXAS,White alone or in combination,9436.0,1.303133,12296.36
477,TENNESSEE,White non-Hispanic alone,2601.0,4.700521,12226.06
393,NORTH DAKOTA,White alone or in combination,406.0,29.834850,12112.95
327,NEVADA,White alone or in combination,1109.0,10.747940,11919.47
389,NORTH DAKOTA,White non-Hispanic alone,399.0,29.834850,11904.11
41,ARIZONA,White alone or in combination,2815.0,3.769032,10609.83
294,MISSOURI,White alone or in combination,2898.0,3.588062,10398.20
290,MISSOURI,White non-Hispanic alone,2832.0,3.588062,10161.39
323,NEVADA,White non-Hispanic alone,879.0,10.747940,9447.44
488,TEXAS,White non-Hispanic alone,6822.0,1.303133,8889.97
118,FLORIDA,White alone or in combination,8212.0,1.030212,8460.10
37,ARIZONA,White non-Hispanic alone,2145.0,3.769032,8084.57
114,FLORIDA,White non-Hispanic alone,6432.0,1.030212,6626.32
283,MISSISSIPPI,White alone or in combination,1081.0,5.444994,5886.04
279,MISSISSIPPI,White non-Hispanic alone,1056.0,5.444994,5749.91
173,INDIANA,White alone or in combination,2949.0,1.266211,3734.06
169,INDIANA,White non-Hispanic alone,2832.0,1.266211,3585.91
284,MISSISSIPPI,Black alone or in combination,639.0,5.444994,3479.35
491,TEXAS,Hispanic (of any race),2654.0,1.303133,3458.51

*Note: "White non-Hispanic alone" in North Dakota is index 389, while "Black alone or in combination" in Mississippi is index 284*

In [15]:
joined.loc[389]["demo_power"] / joined.loc[284]["demo_power"]

3.4213603115524456

---

---

---